@{
    ViewBag.Title = "Learning ASP.NET MVC 4 | Home";
}

<h2>Learning ASP.NET MVC 4</h2>

<ul>
    <li><a href="@Url.Action("Lesson1")">บทที่ 1 - HTML</a></li>
    <li><a href="@Url.Action("Lesson2")">บทที่ 2 - CSS</a></li>
    <li><a href="@Url.Action("Lesson3")">บทที่ 2 - JavaScript</a></li>
</ul>

<div class="fb-comments" data-href="http://learning.apphb.com/" data-num-posts="10" data-width="470"></div>
