@{
    ViewBag.Title = "Learning ASP.NET MVC 4 | Lesson 3 - JavaScript";
}

<style>
    p , ul
    {
        width: 800px;
    }
    p a 
    {
        margin-right: 25px;
    }
    
table.board {
  border: 1px solid green; 
  height: 300px;
  width: 300px;
}

td {
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  font-weight: bold;
  font-color: green;
  font-family: geniva, verdana, helvetica;
  border: 1px solid green;
  cursor: pointer;
}

#menu {
  text-align: center;
  position: absolute;
  width: 200;
  height: 200;
  margin-left: 50px;
  margin-top: 50px;
  border: 5px double red;
  display: none;
  vertical-align: middle;
  background-color: white;  
}

#play_again {
  font-size: 10px;
  color: green;
}    
</style>
<script type="text/javascript">
    /* Main Game Handling class */
    var TicTacToe = {
        turn: "O",  // Keeps a record of who's turn it is
        board: ["", "", "", "", "", "", "", "", "", ""],  // Keeps a record of the TicTacToe Board
        win: false, // records who won if the game is over

        /* Clears and starts a new game with a new board */
        restartGame: function () {
            // Draw the board
            var board_table = '<table class="board" border="0px" cellpadding="0px" cellspacing="0px" align="center"><tr><td id="ttt0">&nbsp;</td><td id="ttt1">&nbsp;</td><td id="ttt2">&nbsp;</td></tr><tr><td id="ttt3">&nbsp;</td><td id="ttt4">&nbsp;</td><td id="ttt5">&nbsp;</td></tr><tr><td id="ttt6">&nbsp;</td><td id="ttt7">&nbsp;</td><td id="ttt8">&nbsp;</td></tr></table>';
            $("#board").html(board_table);
            $("#menu").hide();

            // clear the board
            this.board = ["", "", "", "", "", "", "", "", "", ""];

            // Add on-click events to each of the boxes of the board
            $("#board td").click(function (e) {
                TicTacToe.move(e.target.id);
            });

        },

        /* Handles clicks spaces on the board */
        move: function (id) {
            var space = $("#" + id);  // Board space table element
            var num = id.replace("ttt", ""); // # representing the space on the board

            // If no one's gone there, and the game isn't over, go there!
            if (!this.board[num] && !this.win) {
                space.html(this.turn);
                this.board[num] = this.turn;
                this.nextTurn();  // End turn
            }
        },

        /* Iterate turn and check if anyone one yet */
        nextTurn: function () {
            this.turn = (this.turn == "O") ? "X" : "O";
            this.win = this.check4Win();
            if (this.win) {
                this.endGame();
            }
        },

        /* Display who won and options for new games */
        endGame: function () {

            if (this.win == "Cat") {
                $("#menu").html("Cats Game.");
            } else {
                $("#menu").html(this.win + " wins!");
            }
            $("#menu").append("<div id='play_again'>Play Again</div>");

            // Button for playing again.
            $("#play_again").click(function () { TicTacToe.restartGame(); });
            $("#menu").show();
            this.win = false;

        },

        // If any of these patters of board spaces have all X's or all O's somebody won!
        wins: [[0, 1, 2], [3, 4, 5], [6, 7, 8], [0, 3, 6], [1, 4, 7], [2, 5, 8], [0, 4, 8], [6, 4, 2]],

        /* Check for whether someone won the game of it was a Cat's game. */
        check4Win: function () {

            // Loop through all possible winning combinations 
            for (k in this.wins) {
                var pattern = this.wins[k];
                var p = this.board[pattern[0]] + this.board[pattern[1]] + this.board[pattern[2]];
                if (p == "XXX") {
                    return "X";  // X Won!
                } else if (p == "OOO") {
                    return "O";  // O Won!
                }
            }

            // Check if all spaces in the board are filled, then its a Cat's game
            var cnt = 0;
            for (s in this.board) {
                if (this.board[s]) { cnt += 1; }
            }
            if (cnt == 9) {
                return "Cat";  // Cat's game!
            }
        }
    };
    $(document).ready(function () {
        TicTacToe.restartGame();
    });
</script>

<a href="@Url.Action("Index")">กลับไปหน้าสารบัญ</a>

<h2>Lesson 3 - JavaScript</h2>
<p>บทนี้เราจะคุยเรื่อง JavaScript เบื้องต้น</p>

<h3>JavaScript ทำอะไรได้?</h3>
<ul>
    <li><strong>JavaScript เป็นเครื่องมือสำหรับ HTML designer ในการเขียนโปรแกรม</strong> - ปกติแล้วคนเขียน HTML + CSS มักไม่ใช่โปรแกรมเมอร์จ๋า แต่ JavaScript เบื้องต้นที่พอทำงานได้นั้นเขียนง่ายมาก อาม่าอากงก็เขียนได้</li>
    <li><strong>JavaScript สามารถทำงานตาม event</strong> - เราสามารถสั่งให้ JavaScript ทำงานบางอย่างเมื่อหน้าเว็บโหลดเสร็จ หรือเมื่อมีคนคลิกที่ link</li>
    <li><strong>JavaScript สามารถอ่านและเขียน HTML element</strong> - JavaScript จึงสามารถใช้เขียน HTML element ขึ้นมาโดยที่ไม่ได้มีใน HTML เดิมมาก่อน</li>
    <li><strong>JavaScript ใช้ในการตรวจสอบข้อมูลได้</strong> - JavaScript ใช้ตรวจสอบข้อมูลก่อนส่งไป Server ดังนั้นจึงช่วยลดการ process ของ server ได้</li>
    <li><strong>JavaScript สามารถใช้ตรวจสอบ รุ่นของ browser</strong></li>
    <li><strong>JavaScript ใช้อ่านและเขียน cookies ได้</strong></li>
</ul>

<h3>การใช้งาน JavaScript</h3>
<ul>
    <li><strong>เขียนแบบ inline</strong> - ใส่ลงไปใน HTML ตรงๆ เช่น &lt;a id=&quot;clickme&quot; href=&quot;#&quot; onclick=&quot;alert('clicked!');return false;&quot;&gt;Click me&lt;/a&gt; ก็จะได้เป็น <a id="clickme" href="#" onclick="alert('clicked!');return false;">Click me</a> (ลองคลิกได้)</li>
    <li><strong>ใส่ไว้ใน tag &lt;script&gt;</strong></li>
    <li><strong>ใส่ไว้ในในไฟล์แยก แล้วอ้างอิงเป็น src ของ tag &lt;script&gt;</strong></li>
</ul>

<h3>การใช้งาน JavaScript แบบ inline</h3>
<p>มักจะใช้ใส่ไว้ใน attribute ของ HTML element ที่ชื่อว่า on<span style="font-style: italic;">xxx</span> เช่น onclick หรือ onload โดย JavaScript ที่ใส่ไว้จะเป็นการรอ event ที่ user จะกระทำกับ element นั้นๆ (เช่นการคลิก) หรือ event ที่เกิดขึ้นเอง เช่น โหลดเสร็จ</p>
<p>วิธีนี้เหมาะกับการเขียนทดสอบอะไรเร็วๆ ไม่เหมาะกับการใช้ในเว็บใหญ่ๆจริงๆ เพราะยากในการดูแล</p>
<p>ตัวอย่างของ on<span style="font-style: italic;">xxx</span></p>
<ul>
    <li><strong>onclick</strong> - JavaScript จะทำงานเมื่อมีการ click</li>
    <li><strong>ondblclick</strong> - JavaScript จะทำงานเมื่อมีการ double click</li>
    <li><strong>onload</strong> - JavaScript จะทำงานเมื่อโหลดเสร็จ เช่นใน &lt;body onload=&quot;alert('loaded!')&quot;&gt;</li>
    <li><strong>onkeyup</strong> - JavaScript จะทำงานเมื่อมีการปล่อยคีย์บอร์ดหลังจากกดปุ่มใดๆ</li>
</ul>
<p>ตัวอย่างอื่นๆ ดูได้ที่ <a href="http://www.w3schools.com/jsref/dom_obj_event.asp" target="_blank">http://www.w3schools.com/jsref/dom_obj_event.asp</a></p>

<h3>การใช้งาน JavaScript แบบใช้ tag &lt;script&gt;</h3>
<p>วิธีนี้มักจะใช้ร่วมกับ library อื่นๆเช่น jQuery</p>
&lt;script&nbsp;type=&quot;text/javascript&quot;&gt;<br/>&nbsp;&nbsp;&nbsp;&nbsp;$(document).ready(function&nbsp;()&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('a#clickme').click(function(){<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alert('clicked');<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});<br/>&nbsp;&nbsp;&nbsp;&nbsp;});<br/>&lt;/script&gt;

<p>JavaScript ข้างต้น ให้ผลเหมือนกับการใช้ inline ก่อนหน้านี้ แต่ไม่ต้องใส่ไว้ใน onclick ส่งผลให้เมื่อเราต้องการเปลี่ยนแปลงก็สามารถแก้ใน tag script โดยไม่ต้องยุ่งกับ HTML</p>

<h3>การใช้งาน JavaScript แบบใส่ไว้ในในไฟล์แยก แล้วอ้างอิงเป็น src ของ tag &lt;script&gt;</h3>
<p>คล้ายวิธีที่ 2 แต่แยก JavaScript ออกไปเป็นไฟล์ต่างหาก แล้วอ้างอิงมาใน HTML file</p>
<p>วิธีนี้ช่วยให้การจัดการไฟล์ง่ายขึ้น เป็นระบบระเบียบ เหมาะกับ project ใหญ่ๆ</p>

<hr />
<p>ให้นักเรียนลองดูด้านล่างนี้ เป็นเกม O - X จาก JavaScript (มาจาก http://thingsilearned.com/2009/06/02/tictactoe-in-jquery/) </p>
<p>มี bug ด้วย ใครหาเจอลองคิดวิธีแก้ดู</p>

<div style="padding:10px;background:#eee;overflow:visible;">
<div id="d0" class="display" style="display: block;">
    <table border="0px" align="center">
    <tr><td>
    <div id="menu"></div>
    <div id="board"></div>
    </td></tr>
    </table>
</div>
<div style="clear: both;"></div>
</div>

<br />
<div class="fb-comments" data-href="http://learning.apphb.com/Lesson3" data-num-posts="10" data-width="470"></div>
