@{
    ViewBag.Title = "Learning ASP.NET MVC 4 | Lesson 1 - HTML";
}

<a href="@Url.Action("Index")">กลับไปหน้าสารบัญ</a>

<h2>Lesson 1 - HTML</h2>
<p>บทนี้เราจะคุยเรื่อง html เกริ่นๆหน่อยนะ</p>

<h3>HTML</h3>
<ul>
    <li>HTML ย่อมาจาก <strong>H</strong>yper <strong>T</strong>ext <strong>M</strong>arkup <strong>L</strong>anguage</li>
    <li>HTML ไม่ใช่ programming language แต่เป็น markup language</li>
    <li>markup language คือภาษาที่ประกอบด้วย markup tags</li>
    <li>HTML ใช้ markup tags เพื่อแสดงเป็นหน้าเว็บ</li>
</ul>

<h3>HTML Tags</h3>
<ul>
    <li>HTML tags คือ keyword ที่ล้อมหน้าหลังด้วย &lt; กับ &gt; เช่น &lt;html&gt;</li>
    <li>HTML tags จะมาเป็นคู่เช่น &lt;b&gt; and &lt;/b&gt;</li>
    <li>tag แรกของคู่ pair คือ start tag ส่วน tag ที่สองคือ end tag</li>
    <li>บางทีอาจเรียก opening tag กับ closing tag</li>
</ul>

<h3>HTML Documents = Web Pages</h3>
<p>Web browser เช่น FireFox / Ie ทำหน้าที่แปลง HTML Documents โดยจะไม่แสดง tag แต่จะแปลง tag ต่างๆให้เป็นไปตามรูปแบบที่กำหนดไว้ใน standard</p>

<p>ให้นักเรียนลองเข้าไปดูใน <a target="_blank" href="http://www.w3schools.com/html/html_quick.asp">http://www.w3schools.com/html/html_quick.asp</a> แล้วเอา tag ต่างๆมาลองเล่นใน form ด้านล่างนะจ๊ะ</p>

@using(Html.BeginForm())
{
  <div style="width: 800px;padding:10px;background:#eee;overflow:visible;">
    <p><input type="submit" value="Test"/></p>
    <div style="float:left;width:350px;background: #fff;margin:10px;">
        @Html.TextArea("content", ViewBag.Content as string, 10, 20, new {style = "width:343px;height:170px;"})
    </div>
    <div style="float:left;width:350px;background: #fff;margin:10px;min-height:160px;padding:10px;overflow: scroll;">
        @Html.Raw(ViewBag.Content)
    </div>
    <div style="clear: both;"></div>
  </div>
}

<br />
<div class="fb-comments" data-href="http://learning.apphb.com/Lesson1" data-num-posts="10" data-width="470"></div>
